<div class="list-group list-group-flush my-3">
    <a href="/admin" class="list-group-item list-group-item-action bg-warning second-text active">
        <i class="fas fa-tachometer-alt me-2"></i>Dashboard</a>

        <a href="/admin/pending" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
            <i class="fa-sharp fa-solid fa-eye"></i> Pending Payment </a>
    
        <a href="/admin/email" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
        <i class="fa-sharp fa-solid fa-eye"></i> Email Purse </a>

    <a href="/admin/messages" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
        <i class="fa-solid fa-thumbs-up"></i> Messages</a>

    <a href="/admin/sorted" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
        <i class="fa-solid fa-thumbs-up"></i> Sorted Messages</a>

    <a href="/admin/tours" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
        <i class="fa-sharp fa-solid fa-comments"></i>Update Tours</a>

    <a href="/admin/club" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
        <i class="fa-sharp fa-solid fa-comments"></i>Erekere Club</a>

    <a href="/admin/logout" class="list-group-item list-group-item-action bg-transparent text-danger fw-bold">
        <i class="fa-sharp fa-solid fa-power-off"></i> Logout</a>
</div>