*{
    box-sizing: border-box;
    padding:none;
    margin:none;
    font-family: lato, sans-serif;
    font-size: 18px;
}

.form_box{
    background-color:rgba(118, 97, 83, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
}

.card{
    width:350px;
    height:430px;
    perspective:1500px;
}

.nav_main{
    align-items: center;
}

#chk{
    display: none;
}

#chk:checked ~ .content{
    animation: 2s animate;
    transform: rotateY(180deg);
}

@keyframes animate{
    0%{
        transform: translateZ(0px);
    }
    50%{
        transform: translateZ(100px);
    }
    100%{
        transform: rotateY(180deg);
    }
}

.content{
    width:100%;
    height:100%;
    transform-style:preserve-3d;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    transition: transform 1s cubic-bezier(0.75, 0, 0.85, 1);
    border-radius: 8px;
}

.front, .back{
    position: absolute;
    top:0%;
    left:0;
    width: 100%;
    height: 100%;
    background: #fff;
    -webkit-backface-visibility:hidden;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    perspective: 1500px;
    border-radius: 8px;
}

.back{
    transform: rotateY(180deg);
}

.inner{
    height: 100%;
    padding:1.5em;
    transform: translateZ(80px)scale(1);
}

h2{
    position: absolute;
    top:50px;
    left:30px;
    font-size: 28px;
    color:#420039;
    font-weight: bolder;
}
p{
    font-size: 15px;
    padding: 7px;
    margin-top: 70px;
    text-align: justify;
    line-height: 1.4em;
}

input[type=text],
input[type=password],
input[type=email]{
    width: 95;
    height:40px;
    padding: 15px;
    margin: 12px 24px;
    box-sizing: border-box;
    color: #000;
    background-color: #F5EE9E;
    outline: none;
    border-radius: 4px;
}

input[type=text]::placeholder,
input[type=password]::placeholder,
input[type=email]::placeholder{
    color: #721817;
}

.front label{
    padding: 8px 6px;
    font-size: 16px;
    color:#10349A;
    float: right;
    cursor: pointer;
}

.back label{
    position: absolute;
    bottom: 40px;
    width:30%;
    font-size: 16px;
    text-align: center;
    color: #10349A;
    cursor: pointer;
}

button{
    position: absolute;
    right: 30px;
    width: 82%;
    padding: 7px;
    color: #0A122A;
    background: #ffda29;
    text-align: center;
    font-size: 18px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: .3s;
}

button:hover{
    transition:0.4s;
	background-color:#420039;
    color:#fff;
}

.front button{
    bottom: 20%;
}

.back button{
    bottom: 10%;
}

